body {
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
}

.row {
    width: 100%;
}

.headed {
    text-align: center;
}

.headed p {
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
}

.headed h2 {
    font-family: Nunito, sans-serif;
    color: #333;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 48px;
}

.line-border {
    display: block;
    width: 70px;
    height: 2px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d8cf5;
}

.pad {
    padding-bottom: 40px;
}

.col-sm-12 {
    text-align: center;
}

.rem_pad {
    padding: 0;
}

.text-format {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 34px;
    font-style: italic;
}

.contact {
    background-color: transparent;
    color: black;
    border-color: #4d8cf5;
    transition: 300ms;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}


.button_align {
    text-align: center;
    margin-bottom: 40px;
}

.contact:hover {
    background-color: #4d8cf5;
    color: white;
}

.col-md-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

i {
    color: #4d8cf5;
}

h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Nunito, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.few {
    padding-left: 30px;
}

.colour {
    color: white;
    background-color: white;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
}

#message {
    width: 100%;
}

.new {
    min-height: 470px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://daks2k3a4ib2z.cloudfront.net/57c2c646739f273554acc4af/57c30503617cac9b64365d2e_testimonial-bg.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto,cover;
    background-repeat: repeat, no-repeat;
    padding-top: 48px;
    margin-top: 48px;
}

.old {
    min-height: 470px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://daks2k3a4ib2z.cloudfront.net/57c2c646739f273554acc4af/57c31c59f69ff41454c71140_video.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto,cover;
    background-repeat: repeat, no-repeat;
    padding-top: 48px;
    margin-top: 48px;
}

.fa-play-circle {
    color: white;
}

.banner_text {
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 22px !important;
    line-height: 34px;
    color: white;
    text-shadow: 0 1px 0 #000;
}

.new .container {
    padding: 35px;
}

button.down {
    background-color: #4d8cf5;
    color: white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    margin-top: 40px;
    transition: 300ms;
    margin-right: 5px;
}

.down:hover {
    background-color: #5c5c5c;
}

.readmore {
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-right: 5px;
}

.read {
    color: #4d8cf5 ;
    transition: 300ms;
}

.read:hover {
    color: black ;
    cursor: pointer; 
}

textarea.w-input, textarea.w-select {
    height: auto;
}

.form-textarea {
    min-height: 200px;
}

.sizing {
    max-width: 66.66%;
}

.form-control {
    margin-bottom: 8px;
}

.footer {
    background-color: #222;
    width: 100%;
    padding: 22px;
}

.plan {
    display: inline-block;
}

.footblock {
    padding: 15px;
}

#foot {
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    transition: 500ms;
}

#foot:hover {
    color: #4d8cf5  ;
}

.splpad {
    padding-bottom: 83px;
}

.new_banner {
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 18px !important;
    line-height: 1.8;
    color: white;
    text-shadow: 0 1px 0 #000;
    text-align: center;
}

.trans {
    position: relative;
}

.midimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.middle {
    position:absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4d8cf5;
}

.trans:hover .middle {
    opacity: 0.7;
}

.icons {
    position: relative;
    display: inline-block;
    top: 50%;
    width: 32px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 32px;
    text-align: center;
}

.icons i {
    color: black !important;
    background-color: #4d8cf5;
    opacity: 1;
    transition: .2s ease;
}

.icons:hover i {
    background-color: #4d8cf5;
    color: white !important;
}

.ic {
    display: block;
    text-align: center;
    margin-top: 130px;
    margin-left: 50px  ;
    height: 32px;
    width: 160px;
}

.ic a {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.topic {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("https://daks2k3a4ib2z.cloudfront.net/57c2c646739f273554acc4af/57c2d86bb166809064181470_hero-bg.jpg");
    margin-bottom: 48px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    height: 770px;
    padding-top: 32px;
}

.navbar-right {
    margin-right: 0;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li:hover a {
    color: #4d8cf5 ;
}

a.now {
    color: #4d8cf5 !important;
}

h1 {
    margin-top: 150px;
}
