* {
    box-sizing: border-box;
    margin: 25px 95px;
}

body,html {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    padding: 3px;
    margin: 0%;
}

#we {
    width: 482px;
    height: 382.225px;
    float: right;
}

h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 70px;
    font-family: Montserrat, sans-serif;
    color: rgba(241,112,169,255);
    width: 483px;
    margin: 0px;
}

span {
    margin: 15px;
    color: black;
}

div.container {
    margin: 177.6px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-content: center;
    padding: 80px;
    width: 1164px;
    height: 810px;
}

div.con1 , div.con2 , div.con3 {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    margin: 0;
    overflow: auto;
}

div {
    padding: 0;
    margin: 0;
}

.footer div {
    float: left;
    height: 33.55px;
    font-size: 25px;
}

.footer img {
    width: 45px;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: rgb(243, 93, 160);
    font-weight: bold;
}

.footer>div:nth-child(2) {
    padding-right: 482px;
}

.footer {
    display: inline-block;
    width: 1164px;
    height: 240px;
    margin: 0px 177.6px;
    padding: 80px;
}

.sec1 {
    margin: 0px 177.6px;
    padding: 80px;
    width: 1164px;
    height: 605.8px;
}


.sec1 p {
    display: inline-block;
    margin: 0;
    width: 483px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.navbar {
    display: inline-block;
    margin: 0px 177.6px;
    padding: 50px 80px;
    width: 1264px;
    height: 175px;
}

.navbar img {
    width: 45px;
    margin: 0;
    padding: 0;
}

.navbar div {
    float: left;
    height: 33.55px;
    font-size: 25px;
}

button {
    display: inline;
    float: right;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/55c7a4edffc7391b07397c75/55c7a6faab10ec5e048f6ef3_menu.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 0;
    margin-left: 160px;
}

div.button {
    display: inline-block;
    width: 50px;
    height: 50px;
}

button:hover {
    cursor: pointer;
    border: none;
}

.menu_list {
    float: right;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
}

.menu_list a {
    color: black;
    font-size: 18px;
    display: inline-block;
    padding: 0px 10px 0px 0px;
    margin: 0;
    font-weight: lighter;
}

.menu_list>a:hover {
    color:  rgb(243, 93, 160);
}

#menuButton {
    margin: 0;
}

#Slick {
    margin-right: 550px;
}

#menu_items {
    opacity: 0;
}

